<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="shunsuke.suzuki.healthmanager">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<application android:label="HealthManager.Android">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="shunsuke.suzuki.healthmanager.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>